@import './styles/Nav.scss';
@import './styles/Hero.scss';
@import './styles/Card.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}